name: .NET Build

permissions:
  contents: write

on:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - run: echo ${{matrix.os}}

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
         dotnet-version: '10.0.x'

      - name: Load nuget cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.nuget/packages
            !~/.nuget/packages/unwanted
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Run tests
        run: dotnet test --logger "trx" --logger "GitHubActions" --results-directory ./TestResults

      - name: Generate report
        uses: ./
        with:
          report-type: html
          trx-directory: TestResults
          report-file: report.html

      - name: Upload Test Report
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: report.html